.title{
	color: white;
	text-align: center;
	font-size: 72px;
	text-transform: uppercase;
	background-color: green
}


.fahim{
	height: 60px;
	 width: 160px;
	  background-color: blue;color: white;
	  font-size: 20px;border: none;
	  border-radius: 8px;
	  transition: 0.5s;
}

.fahim:hover{
	background-color: green;
	cursor: pointer;
	transform: scale(0.8);
	transition: 0.5s;
}

